{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "plugin:unicorn/recommended"
  ],
  "plugins": ["prettier", "jest", "flowtype", "unicorn"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "unicorn/filename-case": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "react/prefer-stateless-function": "off",
    "react/no-unescaped-entities": "off",
    "react/sort-comp": "off",
    "react/button-has-type": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
