/*
Name: Neue
Version: 1.4
Author: Aether Themes
Author URI: http://www.aetherthemes.com
*/

/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Typography
	=Notifications
	=Anchors
	=Header
	=Hero
	=Overview
	=Static
	=Detail

	=Responsive
*/

/* =Common Styles
-------------------------------------------------------------- */

body {
  background: #fff;
  color: #555;
  font: normal 15px 'Roboto', arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.contentBody {
  margin: auto;
  max-width: 960px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.mobileBody {
  text-align: center;
  width: 500px;
}
.mobileBody p {
  text-align: center;
}
@media only screen and (max-width: 555px) {
  .mobileBody {
    width: 100%;
  }
  .mobileBody p {
    padding: 10px;
  }
}

section {
  margin-left: 20px;
}

.small-border {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 1px;
  background: #ececec;
}

::selection {
  background: #b2daeb;
  color: #fff;
}

::-moz-selection {
  background: #b2daeb;
  color: #fff;
}

/* =Typography
-------------------------------------------------------------- */

p {
  color: #666;
  line-height: 1.8em;
  margin: 0 0 20px;
  text-align: justify;
}

em {
  font-style: italic;
}

strong {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-style: normal;
  font-weight: 100;
  line-height: 1.17em;
  margin: 0 0 20px;
}

h2 {
  font-size: 2.5em;
}

h1 {
  font-size: 3.5em;
  margin-top: 80px;
}

.contentBody h1 {
  text-align: center;
  margin-top: 0px;
}

h3 {
  font-size: 1.4666666666666667em;
  font-weight: 300;
  text-align: justify;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

h5 {
  font-size: 1em;
  font-weight: 300;
}

h6 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 300;
}

.sub-heading {
  margin-bottom: 40px;
  text-align: center;
}

/* =Anchors
-------------------------------------------------------------- */

a {
  color: #ffa81e;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  color: #555;
}
a:hover.button i.go {
  background: url('../images/icons/go-black.png') no-repeat top center;
  background-size: 24px 24px;
}

a.button {
  display: inline-block;
  font-size: 1.4666666666666667em;
}

a.button i {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
}

a.button.small {
  font-size: 12px;
  font-weight: 400;
}

a.button.small i {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  margin-bottom: -4px;
}

a.button i.go {
  background: url('../images/icons/go.png') no-repeat top center;
  background-size: 24px 24px;
}
a.button i.go.small {
  background: url('../images/icons/go-small.png') no-repeat top center;
}
a.button i.grid {
  background: url('../images/icons/gallery.png') no-repeat top center;
}
a.button i.more {
  background: url('../images/icons/more.png') no-repeat top center;
}
a.button i.top {
  background: url('../images/icons/top.png') no-repeat top center;
}

/* =Header
-------------------------------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  min-height: 80px;
  line-height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

html.ie header {
  border-bottom: 1px solid #aeaeea;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  margin-right: 40px;
}

nav ul li:last-of-type {
  margin-right: 0px;
}
nav ul li a {
  color: #aeaeae;
}
nav ul li a:hover,
nav ul li a.current {
  color: #fcd26c;
}

#mobile-nav {
  display: none;
  width: 100%;
  background: rgba(198, 198, 198, 0.9);
  position: absolute;
  z-index: 999;
  top: 0;
}

#mobileNavHeader img {
  margin: 15px 0px;
}
#mobileNavHeader img:hover {
  cursor: pointer;
}

#mobile-nav .navigationContent a {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 0px;
}
#mobile-nav .navigationContent a:hover {
  color: #a1a1a1;
}
#logo img {
  width: 250px;
  height: 60px;
}

.nav a {
  color: rgba(0, 0, 0, 0.7);
}

#mobile-nav {
  background: #fcd26c;
}

#mobile-nav .navigationContent a {
  color: rgba(0, 0, 0, 0.7);
}

#mobile-nav #navMore {
  float: right;
}

#mobileLogo {
  width: 120px;
  height: 30px;
}

/* =Hero
-------------------------------------------------------------- */

.hero {
  margin-top: 100px;
  background: url('../images/hero-hardware.png') no-repeat top right;
  background-size: 800px 500px;
}

.action {
  background: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 45%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 45%
  );
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 45%
  );
  margin-top: 220px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.action li {
  display: inline-block;
  margin-right: 50px;
}

.action li:last-of-type {
  margin-right: 0px;
}

/* =Overview
-------------------------------------------------------------- */

.overview {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
}

.content-box img {
  margin-bottom: 20px;
}

/* =Static
-------------------------------------------------------------- */

.static {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  height: 455px;
  border-bottom: 1px solid #ececec;
}

.leftpreview {
  position: absolute;
  bottom: 50px;
  max-width: 400px;
}

.rightpreview {
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 450px;
}

.static-list li {
  float: left;
  margin-right: 15px;
}

.static-list li:last-of-type {
  margin-right: 0px;
}
/* =Detail
-------------------------------------------------------------- */

.detail {
  text-align: center;
  padding-top: 40px;
  position: relative;
  min-height: 623px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}

.detail .sub-heading {
  margin-bottom: 0px;
}

@-webkit-keyframes touchBobble {
  0% {
    -webkit-transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/* =Gallery
-------------------------------------------------------------- */

.gallery {
  text-align: center;
  padding-top: 40px;
  position: relative;
}

.bx-wrapper {
  background: url(../images/gallery/hardware.png) no-repeat top center;
  background-size: 960px 590px;
  padding-top: 55px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ececec;
}

#gallery-pager {
  padding-top: 20px;
  padding-bottom: 20px;
}

.screenshot {
  margin-top: 18px;
}

.screenshot img {
  width: 252px;
  height: 444px;
}

.bx-pager-item {
  display: inline-block;
}
.bx-pager-link {
  display: inline-block;
  text-indent: -999em;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: url(../images/gallery/pager.png) no-repeat top center;
}

.bx-pager-link.active {
  background: url(../images/gallery/pager-active.png) no-repeat top center;
  background-size: 12px 12px;
}
.bx-pager-link:hover {
  background-position: bottom;
}

.bx-next,
.bx-prev {
  position: absolute;
  display: block;
  text-indent: -999em;
  top: 55%;
  width: 30px;
  height: 73px;
}

.bx-next {
  right: 0;
  margin-right: -80px;
  background: url(../images/gallery/next.png) no-repeat top right;
}

.bx-prev {
  left: 0;
  margin-left: -80px;
  background: url(../images/gallery/prev.png) no-repeat top right;
}

.bx-prev:hover,
.bx-next:hover {
  background-position: bottom;
}

/* =Subscribe
-------------------------------------------------------------- */

.download {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.download .sub-heading {
  margin-bottom: 20px;
}

.download-list {
  padding-top: 130px;
}
.download-list img {
  width: 200px;
  height: 70px;
}
.download-list li {
  display: inline-block;
  margin-right: 10px;
}
.download-list li:last-of-type {
  margin-right: 0px;
}

.download-list a {
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  -o-transition: all 0.33s;
  -ms-transition: all 0.33s;
  transition: all 0.33s;
}

.download-list a:hover {
  opacity: 0.4;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)'; /* IE 8 */
  filter: alpha(opacity=40);
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  -o-transition: all 0.33s;
  -ms-transition: all 0.33s;
  transition: all 0.33s;
}

/* =Footer
-------------------------------------------------------------- */

footer {
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #ececec;
  padding: 40px 0px 20px;
  text-align: center;
  margin-top: 100px;
}

footer a {
  color: #555;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer a:hover {
  color: #fbc02d;
}

footer p {
  text-align: center;
}

.footer-action {
  padding-bottom: 15px;
}
.footer-action li {
  display: inline-block;
  margin-right: 15px;
}
.footer-action li:last-of-type {
  margin-right: 0px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #aeaeae;
}

/* =Switcher
-------------------------------------------------------------- */

#style-switch {
  display: block;
  background: transparent;
  z-index: 400;
  width: 150px;
  border-radius: 0 0 3px 0;
  position: fixed;
  top: 180px;
}
#style-switch h5 {
  line-height: 30px;
  background: #fff;
  padding: 6px 0 5px 10px;
  border: 1px solid #ececec;
  border-right: 0px;
  border-left: 0px;
}
#style-switch .switch {
  color: #555555;
}
#style-switch .switch:hover {
  color: #3498d9;
}
#style-switch .trigger {
  display: block;
  height: 43px;
  position: absolute;
  right: -43px;
  text-indent: -9999px;
  top: 0;
  width: 45px;
  border-radius: 0 3px 3px 0;
  background: url('../images/icons/switcher.png') no-repeat center center transparent;
  background-color: #fff;
  border: 1px solid #ececec;
  border-left: 0px;
}

/* =About Page
-------------------------------------------------------------- */
.aboutpage i {
  font-style: italic;
  font-size: 12px;
}

/* =Contact Us Page
-------------------------------------------------------------- */
.contactpage {
  text-align: center;
}
.contactpage p {
  text-align: center;
}

/* =Referral Page
-------------------------------------------------------------- */
.referralpage b {
  font-weight: bold;
}

/* =Responsive
-------------------------------------------------------------- */

/* Tablet Landscape */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    margin: 0;
    padding: 0 !important;
  }
  .bx-prev,
  .bx-next {
    display: none !important;
  }
}

/* Smaller than 960px */
@media only screen and (max-width: 959px) {
  h1 {
    margin-top: 0px;
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  #mobile-nav {
    display: block;
  }
  header {
    position: static;
    margin-top: 47px;
  }
  #headerNav {
    display: none;
  }
  #logo {
    width: 100%;
    text-align: center;
  }
  .bx-prev,
  .bx-next {
    display: none !important;
  }
  #style-switch {
    display: none;
  }
  .contentBody {
    margin-top: 80px;
    padding: 10px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .hero {
    background-size: 100%;
  }
  .static {
    padding-top: 70px;
    height: 400px;
  }
  .leftpreview {
    max-width: 300px;
  }
  .rightpreview {
    width: 380px;
  }
  .detail {
    min-height: 542px;
  }
  .gallery-content {
    width: 80%;
    height: auto;
  }
  .screenshot img {
    width: 186px;
  }
  .gallery-bxslider li .screenshot:first-of-type img {
    float: left;
    margin-left: 20px;
  }
  .gallery-bxslider li .screenshot:last-of-type img {
    float: left;
    margin-left: 30px;
  }
  .bx-wrapper {
    background-size: 100%;
    background-position: bottom center;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  h1 {
    text-align: center;
  }
  .bx-wrapper {
    background: url(../images/gallery/hardware-mobile.png) no-repeat top center;
    padding-top: 85px;
    border-bottom: 1px solid #ececec;
  }
  .screenshot {
    margin-bottom: 120px;
  }
  .screenshot:last-child {
    margin-bottom: 0px;
  }
  .download-list li {
    display: block;
    margin-right: 0px;
    margin-top: 10px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-size: 100%;
    background-position: center 70px;
  }
  .action li {
    margin-right: 15px;
  }
  .static {
    min-height: 730px;
    padding-top: 40px;
  }
  .leftpreview {
    left: 12px;
  }
  .rightpreview {
    left: -5px;
  }
  .detail {
    min-height: 480px;
  }
  .gallery-content {
    width: 300px;
    height: auto;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .hero {
    background-size: 110%;
    background-position: center 120px;
  }
  .action {
    margin-top: 140px;
  }
  .action li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .action li:last-of-type {
    margin-bottom: 0px;
  }
  .static {
    min-height: 660px;
    padding-top: 40px;
  }
  .leftpreview {
    max-width: 300px;
    left: 0;
  }
  .rightpreview {
    width: 300px;
    bottom: 70px;
  }
  .detail {
    min-height: 496px;
  }
  .gallery-content {
    width: 220px;
    height: auto;
  }
  .subscribe input.text {
    width: 300px;
  }
}
